#file_structure {
  width: 400px;
  height: 500px;
  float: left;
}

.center {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#home_html2 {
  width: 400px;
  height: 500px;
  float: right;
}

#home_html3 {
  width: 400px;
  height: 500px;
  float: left;
}

/* #art101_homepage {
  width: 600px;
  height: 500px;
  float: center;
} */

#lab3_html {
  width: 400px;
  height: 500px;
  float: right;
}

/* #lab3_page {
  width: 600px;
  height:500px;
  float: center;
} */
